@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
.login-container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  max-width: 480px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 50px;
  border-radius: 15px;
  transition: all .3s;
  display: flex;
  justify-content: center;
  z-index: 5 !important;

}

.auth-wrapper h3 {
  text-align: center;
  margin: 1rem 0;
  line-height: 1;
}

.googlebtn{
    margin: 1rem auto;
}


.login-container .heart-icon {
    position: absolute;
    animation: heartbeat 0.7s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
  }
  .login-container .heart-icon-1 {
    top: 12%;
    left: 16%;
  }
  .login-container .heart-icon-2 {
    top: 18%;
    left: 0;
  }
  .login-container .heart-icon-3 {
    top: 33%;
    left: 15%;
  }
  .login-container .heart-icon-4 {
    top: 37%;
    left: 24%;
  }
  .login-container .heart-icon-5 {
    top: 56%;
    left: 10%;
  }

  .login-container .heart-icon-7 {
    top: -9%;
    right: 7%;
  }
  .login-container .heart-icon-8 {
    top: 12%;
    right: 9%;
  }
  .login-container .heart-icon-9 {
    top: 24%;
    right: 20%;
  }
  .login-container .heart-icon-10 {
    top: 50%;
    right: 14%;
  }
  .login-container .heart-icon-11 {
    bottom: 25%;
    right: 10%;
  }

.login-container .section__title  {
    color: #44ACB5;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}



@media (max-width:480px){
    .auth-inner{
        max-width: 340px;
        margin: auto;
        align-content: center;
    }
}