/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Noto+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');


/* Default Margin & Padding */

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  background-color: #edeffa;

}

/*===================================
    APP
=====================================*/
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.menu {
  min-width: 480px;
  min-width: 210px;
  height: 100%;
  align-content: center;
  margin: auto;
  background-color: #edeffa;
}

/*===================================
    MAIN
=====================================*/
.Main {
  min-height: 50vh;
  background-image: url("../images/grey_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;

}

/* User */
/* .User {
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  min-height: 125px;
  margin:0;
  border-bottom: 1px solid #277faf63;
} */
/* .navbar-logo {
  align-items: center;
  justify-content: space-around;
  display: border-box;
} */
/*===================================
    ABOUT
=====================================*/

.about-area {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-area .about-large-img {
  margin-bottom: 60px;
}
.about-area .about-large-img img,
.about-area .about-semi-img img {
  width: 100%;
}
.about-area .about-heading {
  font-size: 1.1rem;
}
.about-area .about-heading .section-heading .section__desc {
  line-height: 30px;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;

}

/*===================================
    NAVBAR
=====================================*/
.navbarbrand {
  color: #44ACB5;
}

.logo {
  margin: auto 1rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #44ACB5;
}

/* .info p {
  display: inline-flex;
  font-size: 0.9rem;
  font-weight: normal;
  text-align: right;
} */

/* .info a {
  font-size: 0.8rem;
  text-decoration: none;
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-end;
  color: #E87F3C;
} */

h3{
  color: #44ACB5;
  display: inline-flex;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  margin: 2rem;
  font-size: 1.5rem;

}

.cursive {

  font-size: 1.4rem;
  font-weight: 600;
  display: inline-flex;
  font-family: 'Handlee', cursive;
  color: #F68712 !important; 
}
/*===================================
    Modal POPUP
=====================================*/
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5 !important;

}
.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 500px;
  transform: translate(-50%, -25%);
  z-index: 5 !important;
}


/*===================================
    TAGS (PROJECTS)
=====================================*/
.Projects {
  width: 50%;
  padding: 1rem;
  display: inline-block;
  border-bottom: 1px solid #277faf63;
}
.Projects .header {
  display: flex;
  align-items: center;
}
.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}
.Projects .header .title p {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.Projects .header .btns {
  display: flex;
  align-items: center;
}
.Projects .header .btns span.edit {
  margin-right: 5px;
}
.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Projects .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
.Projects .items {
  padding: 0.5rem;
}
/*===================================
    LIST OF TAGS
=====================================*/
.Project {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}
.Project .name {
  cursor: pointer;
  word-break: break-all;
}
.Project .btns {
  display: flex;
  align-items: center;
}
.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background: #e2e3eb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
}
.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}
.Project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
}
.Project .btns .edit-delete span.edit:hover {
  background: #A8DFEB;
}
.Project .btns .edit-delete span.delete:hover {
  background: #EF8282;
}

/*===================================
    ADD A NEW TAG
=====================================*/
.AddNewProject .add-button span {
  margin-right: 5px;
}
.ProjectForm {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 40px;
  max-width: 480px;
}
.ProjectForm input {
  background-color: #edeffa;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1rem;
  color:  #191F3C;
}
.ProjectForm input:focus {
  outline: none;
  border-bottom: 1px solid #277faf63;
}
.ProjectForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
}
.ProjectForm button.cancel {
  right: 0;
  background-color: #777777;
}
.ProjectForm button.confirm {
  left: 0;
  background-color: #44ACB5;
}
.ProjectForm button:hover {
  filter: brightness(1.1);
}

/*===================================
    ADD NEW TODO TASKS
=====================================*/

.AddNewTodo .todobtn {
  display: flex;
  padding: 1rem;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.AddNewTodo .todobtn button {
  height: 70%;
  margin: 1rem;
  padding: 0 2rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #44ACB5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;

}
.AddNewTodo .todobtn button:hover {
  filter: brightness(1.1);
  transition: all 300ms ease;
}
/* AddNewTodo form */
.AddNewTodo form {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 500px;
  background: white;
  border-radius: 4px;
}
.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
}
.AddNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid #44ACB5;
}
.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.AddNewTodo form p {
  margin-left: 10px;
}
.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.AddNewTodo form .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.AddNewTodo form .pick-time {
  padding: 1.5rem;
}
.AddNewTodo form .pick-project {
  padding: 0.5rem;
}
.AddNewTodo form .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.AddNewTodo form .pick-project .projects .project {
  border: 1px solid #44ACB5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.AddNewTodo form .pick-project .projects .active {
  background: #44ACB5;
  color: white;
}
.AddNewTodo form .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.AddNewTodo form .confirm button {
  width: 100%;
  height: 40px;
  background: #44ACB5;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}
.TodoForm {
  padding: 1rem 2rem calc(3rem + 50px) 1rem;
  max-width: 480px;
  background: #edeffa;
  border-radius: 4px;
}

.TodoForm h3 {
  margin:auto;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ebebeb;
}
.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1rem;
  background-color: #edeffa;
}
.TodoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #44ACB5;
}
.TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.TodoForm p {
  margin-left: 10px;
}
.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  
}
.TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.TodoForm .pick-time {
  padding: 1.5rem;
}
.TodoForm .pick-project {
  padding: 0.5rem;
}
.TodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}
.TodoForm .pick-project .projects .project {
  border: 1px solid #44ACB5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.TodoForm .pick-project .projects .active {
  background: #44ACB5;
  color: white;
}
.TodoForm .cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.TodoForm .confirm button {
  height: 40px;
  margin-left: 15px;
  width: 480px !important;
  background: #44ACB5;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

/*===================================
    TODO TASK WINDOW
=====================================*/
.Todo {
  padding: 1rem;
}
.Todo .todo-container {
  display: flex;
  align-items: center;
}
.Todo .todo-container span {
  cursor: pointer;
  margin: auto;
}
.Todo .todo-container .editicon {
  margin-right: 8px;
}
.Todo .todo-container .text {
  position: relative;
  flex: 1;
  margin: auto 10px;
  cursor: pointer;
}
.Todo .todo-container .text p {
  margin: 0;
  font-size: 1rem;
}
.Todo .todo-container .text span {
  font-size: 0.8rem;
  color: #2b2f4ecc;
}
.Todo .todo-container .text .line {
  height: 1px;
  background: #EDEFFA;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}
.Todo .todo-container .text .line-through {
  width: 100%;
}
.Todo .todo-container .add-to-next-day {
  margin-right: 10px;
}


/*===================================
    LIST OF TODOS
=====================================*/
.Todos {
  vertical-align: top;
  width: 400px;
  height: 70%;
  background-color: #EDEFFA;
  margin: 2.5rem;
  border-radius: 4px;
  opacity: 0.9;
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  align-content: top;
}
.Todos .selected-project {
  margin: 1rem;
  padding: 1rem 2rem 2rem 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #277faf69;
  color: #2780AF;

}
.Todos .todos {
  overflow-y: auto;
}
.Todos p {
  font-family: 'Roboto', sans-serif;
}

/* ---------------Upcoming---------------------*/
.Next7Days .day {
  margin: .1rem 1.5rem;
  display: flex;
}
.Next7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}
.Next7Days .day .total-todos {
  margin-left: 10px;
}

/*===================================
    EDIT TODO WINDOW
=====================================*/

.EditTodo {
  vertical-align: top;
  width: 400px;
  height: 70%;
  background-color: #edeffa;
  margin: 2.5rem;
  border-radius: 4px;
  opacity: 0.9;
  padding: 0.5rem;
  display: inline-block;
}
.EditTodo .header {
  margin: 1rem;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #2780AF;
  color: #2780AF;
}

/*===================================
    MY SCHEDULE
=====================================*/
.Calendar {
  padding: 1rem;
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #277faf63;
}
.Calendar .header {
  display: flex;
  align-items: center;
}
.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}
.Calendar .header .title p {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Calendar .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}
.Calendar .items {
  padding: 0.5rem;
}
.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.About {
    vertical-align: top;
    height: 70%;
    background-color: #EDEFFA;
    margin: 2.5rem;
    border-radius: 4px;
    opacity: 0.9;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: inline-block;
    align-content: top;
    font-weight: normal;
  }

/*===================================
    FOOTER
=====================================*/

Footer{
  background-color: #242222;
}
.icons {
  font-size: 1.2rem;
}
Footer i {
  text-decoration: none;
  font-weight: 200;

}
Footer i:hover {
  color: #44ACB5;
  transition: all 300ms ease;
  text-decoration: none;

}
a:visited{
  text-decoration: none;
}
.usinfo {
  text-decoration: none;
  color: #6C757D;
}
.usinfo:hover {
  text-decoration: none;
  color: #44ACB5;
  transition: all 300ms ease;
}

/*===================================
    ABOUT PAGE - TEAM
=====================================*/
.team-area {
  padding-top: 20px;
  padding-bottom: 40px;
}
.team-area .team-content-wrap {
  margin-top: 50px;
}
.team-area .team-content-wrap .team-item {
  margin-bottom: 30px;
}

.team-area .team-content-wrap .team-item:hover .team__img .team__img-links {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}
.team-area .team-content-wrap .team-item .team__img .team__img-links ul li {
  display: inline-block;
  font-size: 14px;
}
.team-area .team-content-wrap .team-item .team__img .team__img-links ul li a {
  display: block;
  color: #fff;
  margin: 0 10px;
}
.team-area .team-content-wrap .team-item .team__img .team__img-links ul li a:hover {
  color: #f1ae44;
}
.team-area .team-content-wrap .team-item .team__title {
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 20px;
}
.team-area .team-content-wrap .team-item .team__title:before,
.team-area .team-content-wrap .team-item .team__title:after {
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  left: 0;
  right: 40px;
  z-index: -1;
  background-color: #50bac3;
}
.team-area .team-content-wrap .team-item .team__title:after {
  right: 21px;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: skew(-12deg,0deg);
  -moz-transform: skew(-12deg,0deg);
  -ms-transform: skew(-12deg,0deg);
  -o-transform: skew(-12deg,0deg);
  transform: skew(-12deg,0deg);
}

.team-area .team-content-wrap .team-item .team__title .team__title-title {
  font-size: 20px;
  font-family: "Playfair Display";
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 2px;
}
.team-area .team-content-wrap .team-item .team__title .team__title-title a {
  color: #fff;
}
.team-area .team-content-wrap .team-item .team__title .team__title-meta {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.team-area .team-content-wrap .team-item2 .team__title:before,
.team-area .team-content-wrap .team-item2 .team__title:after {
  background-color: #F68712;
}
.team-area .team-content-wrap .team-item3 .team__title:before,
.team-area .team-content-wrap .team-item3 .team__title:after {
  background-color: #f1ae44;
}
.team-area .team-content-wrap .team-item4 .team__title:before,
.team-area .team-content-wrap .team-item4 .team__title:after {
  background-color: #863bae;
}

.team-area2 .team-content-wrap {
  margin-top: 0;
}

.team-area .section__desc {
  font-family: 'Roboto', sans-serif;
}
.team-area a {
  font-family: 'Playfair Display', serif;

}
.team-area span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/*===================================
    ABOUT PAGE
=====================================*/
.service-area {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 120px;
}
/*=== heart-icon ===*/
.service-area .heart-icon {
  position: absolute;
  animation: heartbeat 0.7s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
}
.service-area .heart-icon-1 {
  top: 0;
  left: 16%;
}
.service-area .heart-icon-2 {
  top: 6%;
  left: 0;
}
.service-area .heart-icon-3 {
  top: 33%;
  left: 9%;
}
.service-area .heart-icon-4 {
  top: 37%;
  left: 20%;
}
.service-area .heart-icon-5 {
  top: 56%;
  left: 10%;
}
.service-area .heart-icon-6 {
  bottom: 17%;
  left: 9%;
}
.service-area .heart-icon-7 {
  top: -9%;
  right: 7%;
}
.service-area .heart-icon-8 {
  top: 14%;
  right: 9%;
}
.service-area .heart-icon-9 {
  top: 24%;
  right: 20%;
}
.service-area .heart-icon-10 {
  top: 50%;
  right: 14%;
}
.service-area .heart-icon-11 {
  bottom: 25%;
  right: 3%;
}

.service-area .service-wrap {
  margin-top: 52px;
  margin-bottom: 50px;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon {
  display: inline-block;
  padding: 12px 15px;
  position: relative;
  margin-bottom: 27px;
  z-index: 1;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon i {
  font-size: 65px;
  line-height: 60px;
  color: #424242;
}
.service-area .service-wrap .service-item .service-item-inner .service-icon:before,
.service-area .service-wrap .service-item .service-item-inner .service-icon:after {
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #e5f5f6;
}

.service-area .service-wrap .service-item .service-item-inner .service-content {
  padding-right: 35px;
  padding-left: 35px;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 23px;
}
.service-area .service-wrap .service-item .service-item-inner .service-content .service__desc {
  line-height: 29px;
}
.service-area .button-shared .theme-btn,
.service-area .button-shared .theme-btn:after {
  background-color: #F68712;
}
.service-area .button-shared .theme-btn:hover,
.service-area .button-shared .theme-btn:hover:after {
  background-color: #f1ae44;
}

.button-shared .servicebtn{
  margin: 2rem;
  padding: 1rem 4rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: #44ACB5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}

.service-area .section__title {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  font-weight: 600;
}

.service-area p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.button-shared .servicebtn:hover {
  filter: brightness(1.1);
  transition: all 300ms ease;
}

/*===================================
    CONTACT US
=====================================*/

.contact-area {
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact-area .section__desc {
  line-height: 30px;
  margin-top: 43px;
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;
}
.contact-area .section__list {
  margin: 2rem 0rem;
}
.contact-area .section__list li {
  display: inline-block;
  margin-right: 15px;
}
.contact-area .section__list li a {
  font-size: 15px;
  background-color: #50bac3;
  color: #fff;
  padding: 0 20px 0 20px;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: block;
  width: 50px;
  border-radius: 50%;
}
.contact-area .section__list li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #50bac3;
  border-radius: 50%;

}
.contact-area .section__list li:nth-child(2) a,
.contact-area .section__list li:nth-child(2) a:after {
  background-color: #F68712;
}
.contact-area .section__list li:nth-child(3) a,
.contact-area .section__list li:nth-child(3) a:after {
  background-color: #f1ae44;
}


.contact-area .contact-detail-action {
  margin-top: 120px;
}
.contact-area .contact-detail-action .contact-item {
  background-color: #50bac3;
  padding: 52px 30px 50px 60px;
  height: 270px;
  position: relative;
  z-index: 1;
  margin-right: 57px;
}
.contact-area .contact-detail-action .contact-item:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #50bac3;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: skew(-12deg,0deg);
  -moz-transform: skew(-12deg,0deg);
  -ms-transform: skew(-12deg,0deg);
  -o-transform: skew(-12deg,0deg);
  transform: skew(-12deg,0deg);
}
.contact-area .contact-detail-action .contact-item2,
.contact-area .contact-detail-action .contact-item2:after {
  background-color: #F68712;
}
.contact-area .contact-detail-action .contact-item3,
.contact-area .contact-detail-action .contact-item3:after {
  background-color: #f1ae44;
}
.contact-area .contact-detail-action .contact-item .contact__title {
  color: #fff;
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 40px;
}
.contact-area .contact-detail-action .contact-item .contact__desc {
  color: #fff;
  line-height: 30px;
  font-weight: 500;
}
.contact-area .form-shared form .textarea {
  height: 170px;
}

.newsletter-area .section-heading .section__meta {
  color: #f1ae44;
}
.newsletter-area .newsletter-form {
  margin-top: 51px;
}
.newsletter-area .newsletter-form .col-lg-9 {
  padding-right: 0;
  padding-left: 0;
}
.newsletter-area .newsletter-form .form-shared form .form-group {
  margin-bottom: 0;
}
.newsletter-area .newsletter-form .form-shared form .form-group .form-control {
  color: #343434;
  background-color: #ffffff;
}
.newsletter-area .newsletter-form .form-shared form .submit__btn,
.newsletter-area .newsletter-form .form-shared form .submit__btn:after {
  margin-top: 0;
  background-color: #F68712;
}
.newsletter-area .newsletter-form .form-shared form .submit__btn:hover,
.newsletter-area .newsletter-form .form-shared form .submit__btn:hover:after {
  background-color: #f1ae44;
}

.form-shared form .form-control,
.form-shared form .textarea,
.form-shared form .select-option {
    width: 100%;
    height: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: #f2f0ec;
    color: #818181;
    padding: 19px 30px;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

/*===================================
    RESPONSIVE DESIGN
=====================================*/

@media (max-width:480px){
  .Todos {
    width: 75vw;
    justify-content: center;
  }
  .Main {
    width: 100vw;
  }
  .TodoForm {
    max-width: 320px;
    margin: auto;
    align-content: center;
  }
  .TodoForm .confirm button {
    max-width: 320px;
  }
  .Modal .container {
    max-width: 340px;
    margin: auto;
    align-content: center;

  }
  Footer {
    width: 100vw;
  }
  .footer-info {
    text-align: center !important;
    justify-content: center !important;
    margin: auto;
  }
  .team-area .team-content-wrap .team-item .team__img img {
    width: 50% !important;
  }
  .team-area .team-content-wrap .team-item .team__title:before,
  .team-area .team-content-wrap .team-item .team__title:after {
    width: 240px;
    margin: auto;
  }
}
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .Todos {
      justify-content: center;
    }
    .menu {
      width: 75vw;
    }
    .Main {
      width: 100vw;
    }
    Footer {
      width: 100vw;
    }
    .team-area .team-content-wrap .team-item .team__img img {
      width: 90% !important;
    }
    .team-area .team-content-wrap .team-item .team__title:before,
    .team-area .team-content-wrap .team-item .team__title:after {
    width: 90%;
    margin: auto;
  }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

    .menu {
      width: 50vw;
    }
    .Main {
      width: 80vw;
    }
    Footer {
      width: 80vw;
      margin: auto;
    }
  }